body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #21201c;
  background-color: #fff;
}

.home-page {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

.registration {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: calc(100% - 580px);
  height: 976px;
  margin-right: 24px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 531px;

  /* background-color: rgb(47 155 47); */
}

.image {
  width: 580px;
  height: 976px;
  background-color: aquamarine;
  background-image: url("https://github.com/vladshcherbin/course/blob/master/lesson-6/assets/calendar.jpg?raw=true");
  background-position: center;
  background-size: cover;
  border-radius: 24px;
}

.info {
  width: 320px;
  height: 62px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  color: #21201c;
}

.sign-in {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 12px;
  align-items: center;
}

.sign-in input {
  height: 32px;
  padding-left: 8px;
}

.google {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 44px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #21201c;
  border-radius: 8px;
}

.x {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 44px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #21201c;
  border-radius: 8px;
}

p {
  font-size: 14px;
  font-weight: 500;
  color: #8d8d86;
}

.log-in p {
  font-size: 14px;
  font-weight: 500;
  color: #8d8d86;
}

.google p:hover {
  /* border: 1px solid #c91111; */
  font-size: 16px;
  font-weight: 600;
}

.x p:hover {
  /* border: 1px solid #c91111; */
  font-size: 16px;
  font-weight: 600;
}

.text {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 66px;
}

.email-password {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 16px;
  align-items: center;
  align-items: flex-start;
}

.password input {
  width: 320px;
  height: 44px;
  padding: 9px 16px;
  border: 1px solid #21201c;
  border-radius: 8px;
}

.email input {
  width: 320px;
  height: 44px;
  padding: 9px 16px;
  border: 1px solid #21201c;
  border-radius: 8px;
}

.email label {
  font-size: 14px;
  font-weight: 700;
  color: #21201c;
}

.terms input {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid #21201c;
  border-radius: 8px;
}

.submit input {
  width: 320px;
  height: 44px;
  padding: 10px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #21201c;
  border-radius: 8px;
}

.email input:hover {
  border: 2px solid #c91111;
}

input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #8d8d86;
}

.password label {
  font-size: 14px;
  font-weight: 700;
  color: #21201c;
}

.password input:hover {
  border: 2px solid #c91111;
}

.terms {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.terms label {
  padding-left: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #21201c;
}

.terms span {
  font-size: 14px;
  font-weight: 600;
  color: #21201c;
  cursor: pointer;
  border-bottom: 1px solid #21201c;
}

.submit {
  width: 320px;
  height: 84px;
  padding: 20px 0;
}

.submit label {
  font-size: 16px;
  font-weight: 600;
  color: #21201c;
}

.submit input:hover {
  font-size: 16px;
  font-weight: 600;
  background-color: #c91111;
}

.log-in {
  width: 320px;
  text-align: center;
}

.log-in span {
  font-size: 14px;
  font-weight: 500;
  color: #21201c;
  cursor: pointer;
  border-bottom: 1px solid #21201c;
}

.terms input:checked {
  background-color: #c91111;
}
